.header {
  padding: 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 70px;
  background-color: #a9cce3;
}

.item-link {
  color: #fff;
  font-size: 21px;
  transition: 0.5s;

  &:hover {
    color: #3498db;
  }

  &.active {
    color: #3498db;
  }
}
