.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  z-index: 100;

  &-content {
    padding: 20px;
    border-radius: 12px;
    background-color: #fff;
    width: 50%;
    overflow: hidden;
    cursor: pointer;
    position: relative;
  }

  &-img {
    display: block;
    margin: 0 auto;
  }

  &-title {
    height: auto;
    font-size: 20px;
  }

  &-desc {
    margin: 10px 0;
    font-size: 18px;
  }

  &-cross {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border: 1px solid grey;
    border-radius: 50%;
    font-weight: 600;
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

.card-footer {
  display: flex;
  justify-content: space-between;

  &-price {
    color:  #0957A8;
  }
}

.modal.active {
  transform: scale(1);
}